
body{
    background: #EDF7F6;
}


  ::placeholder {  
    color: #CACACA !important;
    opacity: 1 !important; /* Firefox */
  }

.form-control {
    border: none;
    width: 100%;
    height: 5vh;
}

#mdpOublie{
  text-decoration: none;
  height: 1vh;
  color: #9b9b9b;
}

#mdpOublie:hover{
  color: #212529;
}

.checkBox{
  text-decoration: none;
  height: 1vh;
  color: #9b9b9b;
}

.container-blanc{

  background-color: #fff;
  border-radius: 5px;

}
.info-container{
  padding-left: 0 !important ;
}

.option-compte{
  list-style-type : none;

}
.option-compte .dropdown-toggle::after {
  content: none;
}
