html, body{
  background: #EDF7F6;
  overflow-x: hidden;
}

.bg-dark {
  background-color: #242424 !important;
}

a, .price{
  color: #009C9F;
}

a:hover{
  color: #01898b;
}

.categories .card-img-top {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.categories .card, .annonce .card {
  border-radius: 15px;
  color: initial;
  transition: transform 0.4s;
}

.categories .card:hover {
  -webkit-box-shadow: 0 9px 10px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 9px 10px 0 rgba(0,0,0,0.2);
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  transform: translateY(-4px);
}

.popular {
  border-radius: 15px;
}

.popular .card {
  transition: transform 0.4s ease;
}

.popular .card-body {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.popular .card:hover {
  transform: translateY(-5px)
}

.popular .card:hover .card-body {
  opacity: 1;
}

.annonce .card-img-top {
  height: 250px;
  object-fit: cover;
}

.annonce.card{
  padding: 1rem 1rem 0 1rem;
}

.annonce .card-img-top{
  border-radius: 5px;
}

.annonce .card-title{
  color: initial;
}

.annonce .h2 i{
  cursor: pointer;
}

.fa-heart{
  cursor: pointer;
}

.far.fa-heart{
  color: #cacaca;
}

.fas.fa-heart{
  color: #eb3b5a;
}

/* Annonce Singuliere */

.vente .carousel img {
  height: 360px;
  object-fit: cover;
}

.w-40 {
  width: 40% !important;
}

.w-0 {
  width: 0 !important;
}
