{% extends 'base.html.twig' %}
{% block title %}FAQ
{% endblock %}

{% block body %}
	<div class="container">
		<div class="text-center my-5">
			<h1 class="m-3">Foire Aux Questions</h1>
			<p class="m-2 px-5 lead">Besoin d'aide ? Pour toute question relative à votre commande, le plus simple reste de contacter votre vendeur via la messagerie.
																																																																																																																																																				Sinon, votre réponse se trouve certainement parmi les questions suivantes :
			</p>
		</div>
		<div class="row m-4 bg-white rounded-3">
			<div class="row">
				<div class="col-12 col-md m-3">
					<h3>
						<i class="far fa-question-circle"></i>
						C'est quoi Re-tech ?</h3>
					<p class="lead">Re-tech est une plateforme d'échange responsable de matériel high-tech entre utilisateurs. Elle permet aux utilisateurs de se débarasser du matériel qui ne leur sert plus et ainsi d'en acheter du nouveau à prix d'occasion.</p>
				</div>
				<div class="col-12 col-md m-3">
					<h3>
						<i class="far fa-question-circle"></i>
						Pourquoi Re-tech</h3>
					<p class="lead">Re-tech est une plateforme d'échange dite responsable, elle permet de prévenir la surproduction et la surconsommation de produits électroniques en leur donnant une seconde vie.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md m-3">
					<h3>
						<i class="far fa-question-circle"></i>
						Comment ça marche ?</h3>
					<p class="lead">Re-tech met à disposition toutes les fonctionnalités nécessaires aux utilisateurs pour acheter et vendre leurs articles, mais aussi pour échanger entre eux et les assister dans leurs démarches.</p>
				</div>
				<div class="col-12 col-md m-3">
					<h3>
						<i class="far fa-question-circle"></i>
						Qui peut utiliser Re-tech ?</h3>
					<p class="lead">Absolument tout le monde peut utiliser Re-tech, nous essayons chaque jour de rendre la plateforme le plus accessible possible et permettre la meilleure experience qui soit. Il suffit de se créer un compte et ensuite vous pourrez intéragir avec les articles et les utilisateurs.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md m-3">
					<h3>
						<i class="far fa-question-circle"></i>
						Comment acheter ?</h3>
					<p class="lead">Cherchez l'article de votre choix parmi les listes d'annonces, Appuyez sur le bouton
						<b>Acheter</b>
						sur la page de l'annonce pour régler votre achat et faites vous livrer par le vendeur.</p>
				</div>
				<div class="col-12 col-md m-3">
					<h3>
						<i class="far fa-question-circle"></i>
						Comment vendre ?</h3>
					<p class="lead">Cliquez sur le bouton
						<b>Vendre un produit</b>
						de la rubrique Mon compte, ensuite, remplir les informations requises et postez votre annonce ! Échangez avec les utilisateurs intéréssés et vous n'aurez qu'à leur envoyer votre article pour recevoir l'argent de la vente.</p>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
