<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/icons.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/app.min.css')}}" id="light-style">


        <script src="https://kit.fontawesome.com/9ec7928e72.js" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "navbar.html.twig" %}
        {% block body %}{% endblock %}


        <script src="{{ asset('js/vendor.min.js') }}"></script>
        <script src="{{ asset('js/app.min.js') }}"></script>
        {% include "footer.html.twig" %}
        {% block javascripts %}{% endblock %}
        
    </body>
</html>